.button {
  width: 208.7px;
  height: 59.63px;
  background-color: rgb(255, 132, 0); /* Bạn có thể thay đổi màu sắc nếu muốn */
  color: rgb(22, 131, 0); /* Màu chữ, có thể thay đổi */
  border: none;
  cursor: pointer;
}